<div th:fragment="content_modal_form" xmlns:th="http://www.thymeleaf.org">

    <form id="edit_modal_form"
          method="post"
          th:action="@{${saveUrl}}"
          th:object="${object}">

        <input id="objectId" th:field="*{id}" type="hidden"/>

        <div class="modal-header">
            <h5 class="modal-title" id="objectModalLabel">Добавить</h5>
            <button aria-label="Закрыть" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>

        <div class="modal-body">

            <div class="mb-3">
                <label class="form-label" for="data-first-name">Фамилия:</label>
                <input class="form-control"
                       id="data-first-name"
                       placeholder="Введите фамилию"
                       th:field="*{firstName}"
                       type="text"/>
                <div class="text-danger" th:if="${#fields.hasErrors('firstName')}">
                    <small th:errors="*{firstName}"></small>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="data-last-name">Имя:</label>
                <input class="form-control"
                       id="data-last-name"
                       placeholder="Введите имя"
                       th:field="*{lastName}"
                       type="text"/>
                <div class="text-danger" th:if="${#fields.hasErrors('lastName')}">
                    <small th:errors="*{lastName}"></small>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="data-birth-date">Дата рождения:</label>
                <input class="form-control"
                       id="data-birth-date"
                       th:field="*{birthDate}"
                       type="date"/>
                <div class="text-danger" th:if="${#fields.hasErrors('birthDate')}">
                    <small th:errors="*{birthDate}"></small>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="data-phone-number">Телефон:</label>
                <input class="form-control"
                       id="data-phone-number"
                       placeholder="+7 (999) 999-99-99"
                       th:field="*{phoneNumber}"
                       type="tel"/>
                <div class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}">
                    <small th:errors="*{phoneNumber}"></small>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="data-email">Email:</label>
                <input class="form-control"
                       id="data-email"
                       placeholder="example@example.com"
                       th:field="*{emailAddress}"
                       type="email"/>
                <div class="text-danger" th:if="${#fields.hasErrors('emailAddress')}">
                    <small th:errors="*{emailAddress}"></small>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="data-address">Адрес:</label>
                <input class="form-control"
                       id="data-address"
                       placeholder="Введите адрес"
                       th:field="*{address}"
                       type="text"/>
                <div class="text-danger" th:if="${#fields.hasErrors('address')}">
                    <small th:errors="*{address}"></small>
                </div>
            </div>
            <div th:if="${object instanceof T(ru.storage.model.Employee)}">
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="data-post">Должность:</label>
                    <select class="form-select" id="data-post" th:field="*{postEmployee}">
                        <option value="">Выберите должность</option>
                        <option th:each="post : ${T(ru.storage.model.PostEmployee).values()}"
                                th:text="${post.title}" th:value="${post}">Post
                        </option>
                    </select>
                </div>

                <div class="col-md-6 mb-3 form-check">
                    <input class="form-check-input" id="data-is-full-time" th:field="*{isFullTime}"
                           type="checkbox"/>
                    <label class="form-check-label" for="data-is-full-time">Полная занятость</label>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="data-date-start">Дата приёма:</label>
                    <input class="form-control" id="data-date-start" required th:field="*{dateStart}"
                           type="date"/>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="data-date-end">Дата увольнения:</label>
                    <input class="form-control" id="data-date-end" th:field="*{dateEnd}" type="date"/>
                </div>
            </div>
            <div th:unless="${object instanceof T(ru.storage.model.Employee)}">
                <div class="mb-3">
                    <label class="form-label" for="data-comment">Комментарий:</label>
                    <input class="form-control"
                           id="data-comment"
                           placeholder="Введите комментарий"
                           th:field="*{comment}"
                           type="text"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('comment')}">
                        <small th:errors="*{comment}"></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearForm()" type="button">
                Отмена
            </button>
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>

    </form>
</div>