<div th:fragment="content_modal_form" xmlns:th="http://www.thymeleaf.org">

    <form id="edit_modal_form"
          method="post"
          th:action="@{${saveUrl}}"
          th:object="${object}">

        <input id="data-id" name="sheduleId" th:field="*{id}" type="hidden"/>
        <div class="modal-header">
            <h5 class="modal-title" id="objectModalLabel">Добавить запись журнала</h5>
            <button aria-label="Закрыть" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>

        <div class="modal-body">
            <!--            <div class="mb-3">-->
            <!--                <label class="form-label" for="data-date">Дата записи:</label>-->
            <!--                <input class="form-control" id="data-date" required th:field="*{date}" type="date"/>-->
            <!--            </div>-->
            <div class="mb-3">
                <label class="form-label" for="data-date-start">Начало смены:</label>
                <input class="form-control" id="data-date-start" required th:field="*{dateStart}"
                       type="datetime-local"/>
                <!--                <input class="form-control" id="data-date-start" required th:field="*{dateStart}" type="text"/>-->
            </div>
            <div class="mb-3">
                <label class="form-label" for="data-date-end">Конец смены:</label>
                <input class="form-control" id="data-date-end" required th:field="*{dateEnd}" type="datetime-local"/>
                <!--                <input class="form-control" id="data-date-end" required th:field="*{dateEnd}" type="text"/>-->
            </div>
            <div class="mb-3">
                <label class="form-label" for="data-employee-id">Сотрудник:</label>
                <select class="form-select" id="data-employee-id" name="employeeId" required th:field="*{employee}">
                    <option value="">Выберите сотрудника</option>
                    <option th:each="employee : ${allEmployees}"
                            th:text="${employee.firstName + ' ' + employee.lastName}"
                            th:value="${employee.id}"></option>
                </select>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input" id="data-is-holiday" name="isHoliday" th:field="*{isHoliday}"
                       type="checkbox"/>
                <label class="form-check-label" for="data-is-holiday">Выходной день</label>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearForm()"
                    type="button">Отмена
            </button>
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
    </form>
</div>